/* Custom Styles */

/* Global */
html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
}

html {
    background: url(../img/google-map.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body {
	font-size: 1em;
    background-color: transparent;
}
	  	  
a {
	color: #C2061D;
}

/* Top Nav Custom Styles */

.navbar .brand {
	padding: 5px 10px;
}

.nav-pills > li {
     width: 15em;
    margin-left: 5em;
}

.nav-pills > li > a {
    color: #ffffff;
    background-color: #515151;
    border-color: #111111;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    text-align: center;
}


/* LeftFly-out menu
*
*
*/
.fly-out-menu {
	position: relative;
}

#left-fly-out {
	width: 270px;
	padding-left: 30px;
	height: 100%;
}

#left-fly-out a {
	font-weight: bold;
}

.left-menu {
    position:absolute;
	display: block;
	top: -19px;
	left: -30px;
    width: 0px;
	height:0px;
	/*height: calc(800px - 100px);*/
    background: #fff;
	border-top: 1px solid #e5e5e5;
    overflow-y: auto;
    z-index:10000;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 4px #000; 
     box-shadow: 1px 1px 4px #000; 
}

.left-menu-hidden {
    display: none;
}

/* Drags Footer to page bottom
*
*
*
*/
.wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

.wrapper > .main-content {
        padding-top: 60px;
      }

      .container .credit, .legal {
        margin: 20px 0;
      }

/* Markers Styles
*
*
*
*/
.marker {
	width: 75px;
	height: 75px;
	border-radius: 100px;
	position: relative;
}

.marker-inner {
	width: 16px;
	height: 16px;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}

.marker-green {
	background: rgba(50,205,50, 0.3);
}

.marker-inner-green {
	background: rgba(50,205,50, 0.5);
}

.marker-red {
	background: rgba(255,0,0, 0.3);
}

.marker-inner-red {
	background: rgba(255,0,0, 0.4);
}

.marker-yellow {
	background: rgba(255,255,0, 0.4);
}

.marker-inner-yellow {
	background: rgba(255,255,0, 0.6);
}

.marker-blue {
	background: rgba(30,144,255, 0.3);
}

.marker-inner-blue {
	background: rgba(30,144,255, 0.4);
}
	  
/* Cards Navigation
*
*
*
*/
	  
.card-scroll-cont { 
	margin: 0 auto;
	position: fixed;
	bottom: 60px;
}

.pagespan {
    /*width: 1140px;*/
	width: 100%;
	/*margin-left: 0 !important;*/
	background: rgba(0, 0, 0, .65);
}


/* Ticker styles and animation
*
*
*
*/
.ticker {
	font-size: 2em;
	color: #fff;
	height: 50px;
	width: 1170px;
    overflow: hidden;  
    position: relative;  
    border: 1px solid #000;  
    background-color: #222;    
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);  
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
}

.ticker p {
	position: absolute;  
    font-family: Tahoma, Arial, sans-serif;  
    width: 100%;  
    height: 100%;  
    margin: 0;  
    line-height: 50px;  
    text-align: center;  
    color: #fff;  
	text-shadow: 1px 1px 0px #000000;    
}

.ticker p {  
    -webkit-transform:translateX(100%);  
	transform:translateX(100%);
}

    .ticker p:nth-child(1) {  
        -webkit-animation: left-one 20s ease infinite; 
		animation: left-one 20s ease infinite;
    }  
    .ticker p:nth-child(2) {  
        -webkit-animation: left-two 20s ease infinite;  
		animation: left-two 20s ease infinite;
    }  

    @-webkit-keyframes left-one {  
        0%  {  
            -webkit-transform:translateX(100%); 
        }  
        10% {  
            -webkit-transform:translateX(0); 
        }  
        40% {  
            -webkit-transform:translateX(0);  
        }  
        50% {  
            -webkit-transform:translateX(-100%);
        }  
        100% {  
            -webkit-transform:translateX(-100%);  
        }  
    }  
    @-webkit-keyframes left-two {  
        0% {  
            -webkit-transform:translateX(100%);  
        }  
        50% {  
            -webkit-transform:translateX(100%); 
        }  
        60% {  
            -webkit-transform:translateX(0); 
        }  
        90% {  
            -webkit-transform:translateX(0);
        }  
        100%{  
            -webkit-transform:translateX(-100%);
        }  
    }  

	@-moz-keyframes left-one {  
        0%  {  
            -moz-transform:translateX(100%); 
			transform:translateX(100%);
        }  
        10% {  
            -moz-transform:translateX(0); 
			transform:translateX(0);
        }  
        40% {  
            -moz-transform:translateX(0);  
			transform:translateX(0);
        }  
        50% {  
            -moz-transform:translateX(-100%);
			transform:translateX(-100%);
        }  
        100%{  
            -webkit-transform:translateX(-100%);  
			transform:translateX(-100%);
        }  
    }  
    @-moz-keyframes left-two {  
        0% {  
            -moz-transform:translateX(100%);  
			transform:translateX(100%);
        }  
        50% {  
            -moz-transform:translateX(100%); 
			transform:translateX(100%); 
        }  
        60% {  
            -moz-transform:translateX(0); 
			transform:translateX(0);
        }  
        90% {  
            -moz-transform:translateX(0);
			transform:translateX(0);
        }  
        100%{  
            -moz-transform:translateX(-100%);
			transform:translateX(-100%);
        }  
    }  

	@keyframes left-one {  
        0%  {  
			transform:translateX(100%);
        }  
        10% {  
			transform:translateX(0);
        }  
        40% {    
			transform:translateX(0);
        }  
        50% {  
			transform:translateX(-100%);
        }  
        100%{  
			transform:translateX(-100%);
        }  
    }  
    @keyframes left-two {  
        0% {    
			transform:translateX(100%);
        }  
        50% {  
			transform:translateX(100%); 
        }  
        60% {   
			transform:translateX(0);
        }  
        90% {  
			transform:translateX(0);
        }  
        100%{  
			transform:translateX(-100%);
        }  
    }  

.card-scroll-cont button, .card-scroll-cont button { background: transparent; border: 0; color: #fff; opacity: .5; font-weight: bold;}
.card-scroll-cont button:hover, .card-scroll-cont button:hover { opacity: 1; }
.card-scroll-cont button:disabled, .card-scroll-cont button:disabled { opacity: .2; }

.card-scroll-cont .forward, .card-scroll-cont .backward { float: left; width: 3%; padding-left: 2%; height: 165px; font-size: 60px; }
.card-scroll-cont .forward { float: right; padding-left: 0; padding-right: 1%; }

.card-scroll-cont .frame { margin: 0 auto; /*width: 940px;*/ width:93%; height: 165px; line-height: 165px; overflow: hidden; text-shadow: none; }
.card-scroll-cont .frame ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 50px; }
.card-scroll-cont .frame ul li { float: left; width: 220px; height: 100%; margin: 0 1px 0 0; padding: 0; background: #fff; color: #3a3c47; text-align: center; cursor: pointer; -webkit-box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.29); box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.29); border-radius: 3px; }
.card-scroll-cont .frame ul li.active { color: #fff; background: rgba(201, 32, 0, 1) }
.card-scroll-cont .frame li:hover { opacity: 1; }

.card-scroll-cont .scrollbar { margin: 0 auto 5px; padding-top: 1px; width: 940px; height: 5px; line-height: 0; }
.card-scroll-cont .scrollbar .handle { width: 100px; height: 100%; background: #fff; cursor: pointer; }
.card-scroll-cont .scrollbar .handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 20px; }

.card-scroll-cont .pages { list-style: none; margin: 20px 0; padding: 0; text-align: center; }
.card-scroll-cont .pages li { display: inline-block; width: 14px; height: 14px; margin: 0 4px; text-indent: -999px; border-radius: 10px; cursor: pointer; overflow: hidden;
	background: #fff; box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.card-scroll-cont .pages li:hover { background: #aaa; }
.card-scroll-cont .pages li.active { background: #666; }

.card-scroll-cont .controls { margin: 5px 0 0; text-align: center; }
.card-scroll-cont .controls .divider { display: inline-block; margin: 0 10px; }
.card-scroll-cont .controls button { line-height: 32px; vertical-align: middle; font-family: Novecento, sans-serif; }
.card-scroll-cont .controls button i { position: relative; top: -2px; margin: 5px; padding: 0; font-size: 32px; vertical-align: middle; }

/* 3D shenanigans */
.csstransforms3d .frame {
	height: 165px;
	line-height: 200px;
	-webkit-perspective: 700px;
	-ms-perspective: 700px;
	perspective: 700px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}
.csstransforms3d .frame ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.csstransforms3d .frame ul li {
	position: relative;
	/*margin: 0 -25px;*/
	margin: 0 -10px;
	border: 1px solid rgba(187, 187, 190, 0.59);
	-webkit-transform: rotateY(2deg) scale(0.9);
	-ms-transform: rotateY(2deg) scale(0.9);
	transform: rotateY(2deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
	opacity: .9;
}
.csstransforms3d .frame ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.csstransforms3d .frame ul li.active ~ li {
	-webkit-transform: rotateY(-2deg) scale(0.9);
	-ms-transform: rotateY(-1deg) scale(0.9);
	transform: rotateY(-1deg) scale(0.9);
	opacity: .9;
	-webkit-box-shadow: +2px +2px 10px rgba(0, 0, 0, 0.29); 
	box-shadow: +2px +2px 10px rgba(0, 0, 0, 0.29);
}
.csstransforms3d .frame ul li ~ li:hover {
	opacity: 1;
}

/* 1200 pixel Frame */
.card-scroll-cont .frame1200 { margin: 0 auto; /*width: 940px;*/ width:1200px; height: 200px; line-height: 200px; overflow: hidden; text-shadow: none; }
.card-scroll-cont .frame1200 ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 50px; }
.card-scroll-cont .frame1200 ul li { float: left; width: 190px; height: 100%; margin: 0 1px 0 0; padding: 0; background: transparent; color: #3a3c47; text-align: center; cursor: pointer; }
.card-scroll-cont .frame1200 ul li.active { color: #fff; background: rgba(153, 155, 152, 0.16); }
.card-scroll-cont .frame1200 li:hover { opacity: 1; }

.csstransforms3d .frame1200 {
	height: 120px;
	line-height: 200px;
	-webkit-perspective: 700px;
	-ms-perspective: 700px;
	perspective: 700px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}
.csstransforms3d .frame1200 ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.csstransforms3d .frame1200 ul li {
	position: relative;
	/*margin: 0 -25px;*/
	margin: 0 -24px;
	/*border: 1px solid rgba(187, 187, 190, 0.59);*/
	-webkit-transform: rotateY(45deg) scale(0.9);
	-ms-transform: rotateY(45deg) scale(0.9);
	transform: rotateY(45deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
	opacity: .5;
}
.csstransforms3d .frame1200 ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.csstransforms3d .frame1200 ul li.active ~ li {
	-webkit-transform: rotateY(-45deg) scale(0.9);
	-ms-transform: rotateY(-45deg) scale(0.9);
	transform: rotateY(-45deg) scale(0.9);
	opacity: .8;
}
.csstransforms3d .frame1200 ul li ~ li:hover {
	opacity: 1;
}

/* 940 pixel Frame */
.card-scroll-cont .frame940 { margin: 0 auto; width: 940px; height: 200px; line-height: 200px; overflow: hidden; text-shadow: none; }
.card-scroll-cont .frame940 ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 50px; }
.card-scroll-cont .frame940 ul li { float: left; width: 190px; height: 100%; margin: 0 1px 0 0; padding: 0; background: transparent; color: #3a3c47; text-align: center; cursor: pointer; }
.card-scroll-cont .frame940 ul li.active { color: #fff; background: rgba(153, 155, 152, 0.16); }
.card-scroll-cont .frame1200 li:hover { opacity: 1; }

.csstransforms3d .frame940 {
	height: 120px;
	line-height: 200px;
	-webkit-perspective: 700px;
	-ms-perspective: 700px;
	perspective: 700px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}
.csstransforms3d .frame940 ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.csstransforms3d .frame940 ul li {
	position: relative;
	margin: 0 -30px;
	/*border: 1px solid rgba(187, 187, 190, 0.59);*/
	-webkit-transform: rotateY(45deg) scale(0.9);
	-ms-transform: rotateY(45deg) scale(0.9);
	transform: rotateY(45deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
	opacity: .5;
}
.csstransforms3d .frame940 ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.csstransforms3d .frame940 ul li.active ~ li {
	-webkit-transform: rotateY(-45deg) scale(0.9);
	-ms-transform: rotateY(-45deg) scale(0.9);
	transform: rotateY(-45deg) scale(0.9);
	opacity: .8;
}
.csstransforms3d .frame940 ul li ~ li:hover {
	opacity: 1;
}

/* 800 pixel Frame */
.card-scroll-cont .frame800 { margin: 0 auto; /*width: 940px;*/ width:800px; height: 200px; line-height: 200px; overflow: hidden; text-shadow: none; }
.card-scroll-cont .frame800 ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 50px; }
.card-scroll-cont .frame800 ul li { float: left; width: 190px; height: 100%; margin: 0 1px 0 0; padding: 0; background: transparent; color: #3a3c47; text-align: center; cursor: pointer; }
.card-scroll-cont .frame800 ul li.active { color: #fff; background: rgba(153, 155, 152, 0.16); }
.card-scroll-cont .frame800 li:hover { opacity: 1; }

.csstransforms3d .frame800 {
	height: 120px;
	line-height: 200px;
	-webkit-perspective: 700px;
	-ms-perspective: 700px;
	perspective: 700px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}
.csstransforms3d .frame800 ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.csstransforms3d .frame800 ul li {
	position: relative;
	/*margin: 0 -25px;*/
	margin: 0 -34px;
	/*border: 1px solid rgba(187, 187, 190, 0.59);*/
	-webkit-transform: rotateY(45deg) scale(0.9);
	-ms-transform: rotateY(45deg) scale(0.9);
	transform: rotateY(45deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
	opacity: .5;
}
.csstransforms3d .frame800 ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.csstransforms3d .frame800 ul li.active ~ li {
	-webkit-transform: rotateY(-45deg) scale(0.9);
	-ms-transform: rotateY(-45deg) scale(0.9);
	transform: rotateY(-45deg) scale(0.9);
	opacity: .8;
}
.csstransforms3d .frame800 ul li ~ li:hover {
	opacity: 1;
}